<!DOCTYPE html>
<html>
<head>
    <title>Book a Table</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body style="background-color: rgb(228, 226, 226);" data-flash-message="{{ flash_message }}">
    
    <script src="{{ url_for('static', filename='alert.js') }}"></script>
    
    <a href="{{ url_for('home') }}">
        <img src="../static/Logo.png" class="booking-logo" alt="S.K.Restaurant">
    </a>
    
    <h2 class="booking-wel">Book Your Table</h2>

    <div class="booking-name">
        <form action="/submit" method="POST">
            <label>Name</label>
            <input type="text" name="Customer_Name" class="booking-input-field">
            
            <label>Email</label>
            <input type="email" name="Email" class="booking-input-field">

            <label>Mobile Number</label>
            <input type="text" name="MO_Number" class="booking-input-field">

            <label>Table Number</label>
            <input type="number" name="Table_No" class="booking-input-field">

            <label>Member</label>
            <input type="number" name="Member" class="booking-input-field">

            <label>Date & Time</label>
            <input type="datetime-local" name="Date_Time" class="booking-input-field">

            <button type="submit">Confirm Booking</button>
        </form>
    </div>
</body>
</html>
