<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - S.K. Hotels Group</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../script.js" defer></script>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <p id="flash-message"></p>
        <form id="login-form">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" id="Email" name="Email" required>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" id="Password" name="Password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="form-links">
            <a href="forget.html">Forgot Password?</a><br><br>
            <span>Don't have an account? </span><a href="signup.html">Sign Up</a>
        </div>
    </div>
</body>
</html>