<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - S.K. Hotels Group</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container main-dashboard">
        <h2>Our Menus</h2>
        <div class="nav-links">
            <a href="../static/Gujarati menu.pdf" target="_blank" class="btn">View Gujarati Menu</a>
            <a href="../static/English menu.pdf" target="_blank" class="btn">View English Menu</a>
            <a href="Kathiyawad.html" class="btn">Back to Home</a>
        </div>
    </div>
</body>
</html>