<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body style="background-color: #e0d4c0" data-flash-message="{{ flash_message }}">

        <a href="{{ url_for('home') }}"><img src="../static/Logo.png"  class="booking-logo" alt="S.K.Restautrant"></a><br><br><br>  <!-- click logo for go back to home page -->
        
        <div class="menu-name">
            
                <a href="../static/Gujarati menu.pdf" target="_blank">
                    <button class="menu-Gujarati">Kathiyawadi Menu</button>
                </a>
                <a href="../static/English menu.pdf" target="_blank">
                    <button class="menu-English">Menu</button>
                </a>
            
        </div>
    </body>
</html>