<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Order - S.K. Hotels Group</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../script.js" defer></script>
</head>
<body>
    <div class="container">
        <h2>Place a Dine-in Order</h2>
        <p id="flash-message"></p>
        <form id="order-form">
            <div class="form-group">
                <label for="Table_No">Your Table Number</label>
                <input type="number" id="Table_No" name="Table_No" required>
            </div>
            <div class="form-group">
                <label for="Order">Your Order</label>
                <textarea id="Order" name="Order" rows="4" required></textarea>
            </div>
            <button type="submit">Place Order</button>
        </form>
         <div class="form-links">
            <a href="Kathiyawad.html">Back to Home</a>
        </div>
    </div>
</body>
</html>