<!DOCTYPE html>
<html>
    <head>
        <title>Create Account</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body style="background-color: #e0d4c0" data-flash-message="{{ flash_message }}">
        
        <!-- Javascript link code -->
        <script src="{{ url_for('static', filename='alert.js') }}"></script>
    
        <a href="{{ url_for('home') }}"><img src="../static/Logo.png"  class="booking-logo" alt="S.K.Restautrant"></a><br><br><br>  <!-- click logo for go back to home page -->
        
        <div class="signup-name">
            <form action="/signup" method="POST">
                <h2>Create New Account</h2></br>
                <h4>Welcome In S.K.Restaurant</h4>
                <label >Name</label><br><input type="text" name="Customer_Name"  ><br>        
                <label>Mobile Number</label><br> <input type="number" name="Mobile_No" ><br>
                <label >Email</label><br><input type="email" name="Email"  ><br>        
                <label>Password</label><br> <input type="text" name="Password" ><br>
                <button type="submit">Sign Up</button>

            </form>
        </div>
    </body>
</html>